extends base
block content
    main.main
        .forgot-container
            h2.heading-secondary Forgot Your Password?
            h3 Enter your email below, and we will send you a reset link.

            .form__group
                label(for='email') Email Address
                input#email-reset.form__input(type='email', placeholder='you@example.com', required)
            
            button.btn.btn--red#send-reset-btn Send Reset Email
